@charset "utf-8";

body,
h1,h2,p,figure,h3,ol,
ul {
    margin: 0;
    padding: 0;

}
body {
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

ul,ol {
    list-style: outside none none;
}

a {
    text-decoration: none;
}
.none {
    display: none;
}

/* #nav {
    background-color: #333;
    width: 100%;
    height: 70px;
} */

/* 为了不是css过于复杂，需要增加clss 来简化选择器长度 */
/* #nav>section {
    width: 1263px;
    height: 70px;

    margin: 0 auto;
}

#nav>section>h1 {
    width: 200px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#nav>section>ul {

    width: 650px;
    line-height: 70px;
    float: right;
    color: silver;

}

#nav>section>ul>li {

    width: 120px;

    float: left;
    text-align: center;
}


#nav>section>ul>li>a {
    display: block;
    color: #ccc;
}

#nav>section>ul>li>a:hover,
#nav>section>ul>li.active>a {

    color: #eee;
    background-color: black;
} */

/* 样式相同，可以用,集合到上个css中 */
/* #nav > section > ul > li.active a {
    color: #eee;
    background-color: black;
} */

/* 为了不是css过于复杂，需要增加clss 来简化选择器长度 */
/* #nav .center {
    width: 1263px;
    height: 70px;

    margin: 0 auto;
}

#nav .logo {
    width: 200px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#nav .link {

    width: 650px;
    line-height: 70px;
    float: right;
    color: silver;

}

#nav .link li {

    width: 120px;

    float: left;
    text-align: center;
}


#nav .link a {
    display: block;
    color: #ccc;
}

#nav .link a:hover,
#nav .active a {

    color: #eee;
    background-color: black;
} */

/* 根据大纲标准，结合html5 布局修改css标签 */
#header {
    background-color: #333;
    width: 100%;
    min-width: 1263px;
    height: 70px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    position: relative;
    z-index: 9999;
}
#header .center {
    width: 1263px;
    height: 70px;

    margin: 0 auto;
}

#header .logo {
    width: 240px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#header .link {

    width: 650px;
    line-height: 70px;
    float: right;
    color: silver;

}

#header .link li {

    width: 120px;

    float: left;
    text-align: center;
}


#header .link a {
    display: block;
    color: #ccc;
}

#header .link a:hover,
#header .active a {

    color: #eee;
    background-color: black;
}
/* footer */
#footer {
    height: 360px;
    background-color: #222;
    clear:both;
    /* 浮动清除后，margin就不起作用了 */
    /* margin:100px 0  0 10px; */
    position: relative;
    /* 在原来的基础上移动 */
    top:20px;
}

/* 网站导航信息 */
#footer .top {
    width: 1263px;
    height: 281px;
    /* 供测试用 */
    /* background-color: #333; */
    margin: 0 auto;
    text-align: center;
}
/* 一下三个都是一样的设置，可以用一个.block来代替 */
/* #footer .left {
    width: 410px;
    height: 280px;
    background-color: #f60;
    display: inline-block;
    text-align: left;
}
#footer .center {
    width: 410px;
    height: 280px;
    background-color: green;
    display: inline-block;
    text-align: left;
}
#footer .right{
    width: 410px;
    height: 280px;
    background-color: yellow;
    display:inline-block;
    text-align: left;
} */
#footer .block {
    width: 410px;
    height: 280px;
    display: inline-block;
    text-align: left;
    color: #ccc;
    vertical-align: top;
   
}
#footer h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0 0 20px ;
}
#footer hr {
    width: 90%;
    border: 1px solid #333;
}
#footer ul {
    font-size: 18px;
    color: #555;
    text-indent: 20px;
    line-height: 2;

}

 /* 网站版权信息，经营许可证 */
#footer .bottom {
    color: #777;
    background-color: #000;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid #444;

}