@charset "utf-8";

body,
h1,h2,p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: outside none none;
}

a {
    text-decoration: none;
}
.none {
    display: none;
}

/* #nav {
    background-color: #333;
    width: 100%;
    height: 70px;
} */

/* 为了不是css过于复杂，需要增加clss 来简化选择器长度 */
/* #nav>section {
    width: 1263px;
    height: 70px;

    margin: 0 auto;
}

#nav>section>h1 {
    width: 200px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#nav>section>ul {

    width: 650px;
    line-height: 70px;
    float: right;
    color: silver;

}

#nav>section>ul>li {

    width: 120px;

    float: left;
    text-align: center;
}


#nav>section>ul>li>a {
    display: block;
    color: #ccc;
}

#nav>section>ul>li>a:hover,
#nav>section>ul>li.active>a {

    color: #eee;
    background-color: black;
} */

/* 样式相同，可以用,集合到上个css中 */
/* #nav > section > ul > li.active a {
    color: #eee;
    background-color: black;
} */

/* 为了不是css过于复杂，需要增加clss 来简化选择器长度 */
/* #nav .center {
    width: 1263px;
    height: 70px;

    margin: 0 auto;
}

#nav .logo {
    width: 200px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#nav .link {

    width: 650px;
    line-height: 70px;
    float: right;
    color: silver;

}

#nav .link li {

    width: 120px;

    float: left;
    text-align: center;
}


#nav .link a {
    display: block;
    color: #ccc;
}

#nav .link a:hover,
#nav .active a {

    color: #eee;
    background-color: black;
} */

/* 根据大纲标准，结合html5 布局修改css标签 */
#header {
    background-color: #333;
    width: 100%;
    min-width: 1263px;
    height: 70px;
    box-shadow: 0 8px 10px rgba(0,0,0,0.2);
    position: relative;
    z-index: 9999;
}
#header .center {
    width: 1263px;
    height: 70px;

    margin: 0 auto;
}

#header .logo {
    width: 240px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#header .link {

    width: 650px;
    line-height: 70px;
    float: right;
    color: silver;

}

#header .link li {

    width: 120px;

    float: left;
    text-align: center;
}


#header .link a {
    display: block;
    color: #ccc;
}

#header .link a:hover,
#header .active a {

    color: #eee;
    background-color: black;
}
/* banner图部分 */
#search {
    width: 100%;
    min-width: 1263px;
    height: 600px;
    /* background-image: url(../img/search.jpg);
    background-repeat: no-repeat;
    background-position: center; */
    background: url(../img/search.jpg) no-repeat center;
    position: relative;
}
#search .center {
    width: 600px;
    height: 60px;
    background-color: #000;
    position: absolute;
    /* 这边是以黑条的左上角居中，但是目的是要整个黑条居中 */
    top: 50%;
    left: 50%;
    /* 要减去高度得一半 和宽度得一半得位置。 */
    margin:-30px 0 0 -300px;
    opacity: 0.6;
    border-radius: 10px;
    /* 如果用了透明，文字也会跟着透明 */
    /* color: red; */
}
#search .search {
    width: 446px;
    height:54px;
    background-color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    /* 要往前(左) */
    margin: -27px 0 0 -296px;
    color: #eee;
    border:1px solid #666;
    border-radius: 10px;
    font-size: 24px;
    padding: 0 10px;
    /* 谷歌哟焦点外边框，去掉焦点外边框 */
    outline: none;
}
#search .button {
    width: 120px;
    height:54px;
    background-color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    /* 要往后(右) */
    margin: -27px 0 0 175px;
    color: #666;
    border:1px solid #666;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* 热门旅游 */
#tour {
    width: 1263px;
    height: 600px;
    background-color: #eee;
    margin: 30px auto;
}
#tour .center {
    text-align: center;
    
}
#tour .center h2 {
    color: #666;
    font-size: 45px;
    margin: 10px 0;
    

}
#tour .center p {
    color: #666;
    margin: 10px 0;
}

