@charset "utf=8";
/*~~~~~~~~~~~~~~~~~ css前缀~~~~~~~~~~~~~~~~ */
/* 前缀写在前面，标准写法写在后面 优雅降级 渐进增强 */
/* -webkit-border-radius:50px; 为兼容早期的谷歌 */
/* -moz-border-radius:50px; 为兼容早期的火狐，现在已经剔除了前缀的写法 */
/* border-radius: 标准化 */
/* div {
    width: 200px;
    height: 200px;
    background-color: silver;
     
    
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius: 50%;
    
} */

/* 网页的默认字号是16px 设置网页基准设置为10px */
/* 3em 是62.5%的三倍 */
/* 固定布局 用px */
/* em 会更加灵活，只需修改挂钩字体就行 */
/* h1有内定大小，p没有内定大小 */

/* 改变默认字号大小 html {font-size：10px;}等同于 62.5% */
/* 1.1em 是15px 因为em和父元素挂钩，是14px的1.1倍 */
/* html {
    font-size: 62.5%px;
}

h1{
    font-size:3em;
}

p{
    font-size:1.4em;
} */

/* code  {
    font-size: 0.768em;
} */


/* 直接和根挂钩 根元素是10px 62.5% */
/* 和根挂钩的1.1倍，根元素是10px,就是11px */
/* ie不支持rem */
/* code {
    font-size: 1.1rem;
} */

/* ~~~~~~~~~~~~~~~~~~~css3文本样式~~~~~~~~~~~~~~~~~~~ */
/* ie9不支持 */
/* 正值阴影 text-shadow: 1px 1px 1px red; */
/* 负值阴影 text-shadow: -1px -1px 1px red; */
/* white-space:nowrap 不换行   overflow:hidden 控制溢出 前提下才能裁剪文本 */
/* text-overflow:ellipsis 多出来的省略 */
/* 早期版本需要加前缀 -o-text-overflow；ellipsis; */
/* -webkit-text-stroke:1px red; 字体描边样式还处于实验阶段，没有前缀，所有浏览器都不支持
-webkit- 是谷歌的前缀，所以谷歌支持，ie不支持 */
/* -webkit-text-stroke-width:加粗  */
/* -webkit-text-fill-color:origin;填充 */
P {
    font-size: 180px;
    /* text-shadow: 1px 1px 1px red; */
    /* text-shadow: -1px -1px 1px red; */
    /* width: 160px;
   background-color: silver; 
   white-space:nowrap;
   overflow: hidden; */
    /* text-overflow: clip; */
    /* text-overflow: ellipsis;
   -o-text-overflow:ellipsis; */
    /* -webkit-text-stroke:1px red;
    -webkit-text-stroke-width:3px;
    -webkit-text-stroke-color: orange; */
    /* -webkit-text-fill-color:transparent; */


}


/* ~~~~~~~~~~~~~~~~~~~~css3渐变效果~~~~~~~~~~~~~~~~~~ */
/* linear-gradient 起始色和末尾色 */
/* to bottom 默认情况 */
/* 通过角度设置方位 linear-gradient(45deg,red,yellow) */
/* 多色值设置方位 linear-gradient(45deg,red,yellow，orange,white) */
/* background-image:repeating-linear-gradient 重复渐变 */
/* ie9不支持渐变 用简单的背景色就行了 */
div {
    /* width: 500px;
    height: 200px; */
    /* background-image:linear-gradient(to top left ,orange,green); */
    /* background-image:linear-gradient(45deg,orange,green); */
    /* background-image:linear-gradient(-45deg,orange 0%,green 20%,blue,red 100%); */

    /* 结合背景，实现线性透明渐变 */

    /* background-color: red;
    background-image: linear-gradient( to top,rgba(0,0,0,0.6),rgba(0,0,0,0)); */

    /* background-image:repeating-linear-gradient(orange 10px ,green 30px );  */

    /* 径向渐变 */
    /* background-image: radial-gradient(orange, green);*/
    /* background-image: radial-gradient(circle at right,orange, green);  */
    /* background-image: radial-gradient(circle closest-side ,orange, green);  */
    /* background-image: radial-gradient(circle closest-corner ,orange, green); */
    /* background-image: radial-gradient(circle 50px ,orange, green); */
    /* background-image: repeating-radial-gradient(circle 50px ,orange, green); */

}

/* ~~~~~~~~~~~~~~~~~~~~~~~css3边框图片效果~~~~~~~~~~~~~~~~~~~~~ */
div {
    width: 400px;
    height: 300px;
    /* background-color: blue; */
    border-image-source:url(../image/border.png);
    /* border:81px solid green; */
}

