@charset "utf=8";
@import "text.css";

/* 一、通用选择器还匹配到了和body */
/* *{
    border:1px solid red;
} */

/* p{
    color: red;
} */

/* #abc{
    color: rosybrown;
}

.abc{
    color: saddlebrown;
}

b.abc{
    color: seagreen;

} */

/* .abc{
    color: seagreen;
}

.def{
    font-size: 30px;
}

/* 二、属性选择器 css2*/
/* [href]{
    color: slategrey;
}  */

/* [type="password"]{
    border:1px solid royalblue;
} */

/* 属性选择器 cs3*/
/* 属性值开头匹配的属性选择器 ^ */
/* [href^="http"] {
    color: salmon;
} */
/* 匹配到结尾  $ */
/* [href$=".cn"]{
    color:royalblue
} */

/* 属性值包含指定字符的属性选择器(模糊查询用的少，效率低) *  */
/* [href*="baidu"] {
    font-size: 50px;;
} */

/* [class~="def"] {
    color: royalblue;
} */

/* 属性值包含指定字符的属性选择器(精确查找)  | */
/* [lang|="en"]{
    color: salmon;
} */

/* 三、复合选择器 */
/* 1、分组选择器 , */
/* p,b,i,span {
    color: salmon;
} */

/* 混合分组选择器  , */
/* #abc,.abc,i,span {
    color: red;
} */

/* 2、后代选择器,派生选择器，不在乎b的层次  空格 */
/* p b {
    color: salmon;
} */

/* ul li {
    border:1px solid royalblue;
} */

/* 3、子选择器 在乎b的层次  >  */
/* p > span > b {
    color: seagreen;
} */

/* ul > li >  ol > li {
    border: 1px solid darkcyan;
} */

/* 相邻兄弟选择器 匹配和第一个元素相邻的第二个元素 即b  + */
/* p + b {
    color: darkgoldenrod;
} */

/* 普通兄弟选择器 匹配到后面的所有元素 css3 */
/* p ~ b {
    font-size: 40px;
} */

/* 四、伪元素选择器 在css3中伪元素前面 ::       伪类前面 : */
/* 1、块级首行选择器 ::first-line */
/* ::first-line {
    color:red
} */

/* 2、块级首行首个单词 ::first-letter ，span无效*/
/* ::first-letter {
    font-size: 30px;
} */

/* 3、文本前插入 ::brfore 配合content属性 */
/* a::before {
    content:'点击';
} */

/* 4、文本后插入 ::after 配合content 属性 */
/* a::after {
    content: '搜索';
} */

/* 伪类选择器 */
/* 一、结构性伪类选择器：根据元素在文档中的位置选择元素，伪类都需要选择前置选择器来确实能够范围，前缀一般为: */
/* 1、根元素选择器 */
/* :root {
    border:1px solid red;
} */

/* 2、第一个子元素选择器 */
/* ul > li:first-child {
    color: red;

} */

/* 3、最后一个子元素 */
/* ul > li:last-child {
    color: red;
} */
/* 4、选择唯一一个子元素 */
/* ul > li:only-child {
    color:red;
} */

/* 5、选择只有一个指定类型的子元素的那个子元素   注意*/
/* div > p:only-of-type{
    color: red;
} */

/* 选择子元素的第二个元素  有疑问 */
/* ul > li:nth-child(2){
    color: red;
} */

/* 选择子元素的倒数第二个元素 */
/* ul > li:nth-last-child(2){
    color:red;
} */
/* 选择特定子元素的第二个子元素 */
/* div > p:nth-of-type(2){
    color: red;
} */

/* 选择指定类型的倒数第二个子元素 */
/* div > p:nth-last-of-type(1){
    color: red;
} */

/* 二、ui伪类选择器：根据元素的状态匹配元素 */
/* 选择启用状态的元素 */
/* input:enabled {
    border:1px solid red;
}

input:disabled {
    border:1px solid springgreen;
} */

/* 是否勾选input元素 复选框*/
/* input:checked {
    display:none;
} */

/* 从一组元素中选择默认状态 */
/* input:default{
    display: none;
} */

/* 验证合法的时候显示 */
/* input:valid {
    border: 1px solid green;
}

input:invalid {
    border: 1px solid red;
} */

/* 必填 */
/* input:required {
    border: 1px solid red;
} */
/* 不必填 */
/* input:optional {
    border: 1px solid green;
} */

/* 三、动态伪类选择器 对超链接 */
/* 没访问过默认情况下 */
/* a:link {
    font-size: 30px;
    color: red;
} */

/* 访问过 */
/* a:visited {
     color:blue;
 } */
/* 鼠标放上去 悬停 访问过就失效 */
/* a:hover {
    color: orange;
} */

/* 鼠标点上去不松手 访问过就失效 */
/* a:active {
    color:green;
} */
/* 获得焦点(光标)时 对文本框 */
/* input:focus {
    border: 10px  solid  rosybrown;
} */

/* 四、其他伪类选择器 */
/* 否定选择器 ，反选 */
/* a:not([href*="baidu"]){
    color:red;
} */

/* 匹配没有任何元素的内容 */
/* p:empty {
    display: ;
} */

/* p:lang(en-us){
    color:red;
} */

/* 定位到锚点的时候，选择此元素 */
/* b:target{
    color: red;

} */

/* 伪元素选择器 ，当光标选择文字时触发 火狐不支持 */
/* ::selection{
    color: red;
} */

/* rgb(r,g,b) 十进制 */
/* p{
color:rgb(0,128,128);
} */

/* rgba(r,g,b,a)a 是透明度0~1之间 */
/* p{
    color:rgba(0,128,128,0.1);
    font-size: 40px;
    } */

/* hsl 色相饱和度 */
/* p{
    color:hsl(120,100%,30%);
    font-size: 40px;
    } */
/* hsla 色相饱和度透明度 */
/* p{
    color:hsla(120,100%,30%,0.1);
    font-size: 40px;
    } */

/* 相对单位 */
/* em    是字号的三倍  */
/* body{
    width: 200px;
    font-size: 50px;;
} */
/* p {
    color: hsl(120, 100%, 30%);
    font-size: 50px;
    margin: 0;
    padding: 0;
    background: red;
    height: 3em;
    width: 50%;
} */

/* %  所在区块的宽度.父元素的宽度*/
/* p {
    color: hsl(120, 100%, 30%);
    font-size: 50px;
    margin: 0;
    padding: 0;
    background: red;
    width: 50%;
    font-size: 200%;
} */

/* 数字+px,可以精确的微调 */
/* p {
    font-size: 50px;
} */

/* 设置一个从小到大 */
/* p {
    font-size: xx-large;
} */

/* 相对父元素字体的大小 smaller */
/* body {
    font-size: 50px;
    font-variant: small-caps;
} */
/* p {
    font-size:smaller; 
} */

/* 将字体设置小型大写的html */
/* p {
    font-variant:small-caps;
} */

/* 将字体设置小型大写的html恢复成正常状态 */
/* p {
    font-variant:normal;
} */

/* 字体倾斜 font-style:italic */
/* p {
    font-style: italic;
} */

/* font-weight 字体粗细 */

/* font-family  做几个备用字体*/
/* p {
    font-family: 楷体,微软雅黑，宋体;
} */

/* 字体组合 是否倾斜，，是否加粗，是否转小型大写    */
/* p {
    font:  italic small-caps 50px 楷体 ;
} */

/* web字体 */
/* @font-face {
    font-family: 'abc';
    src: url('../font/AUSPROBE.TTF');

} */
/* 享受统一字体 */
/* p{
    font-size: 50px;
    font-family: 'abc';
} */

/* font-size: 50px;
    /* text-decoration: underline; */
/* text-decoration: overline; */

/* 小写转化成大写 */
/* text-transform: capitalize; */
/* 大写转化成小写 */
/* text-transform: lowercase; */

/* 给文本添加阴影  x，y, 模糊值， 颜色*/
/* text-shadow: 5px 5px 10px red; */

/* 文本控制 */
/* text-align: left; */
/* text-align: center; */
/* text-align: right; */
/* 两端对齐 */
/* text-align: justify; */
/* text-align: start; */
/* text-align: end; */

/* 空白被压缩，不换行 */
/* white-space: nowrap; */
/* 空白不被压缩，不换行，遇到换行符换行 */
/* white-space:pre; */

/* 设置文本间距 */
/* word-spacing: 60px; */
/* 单个字之间的间距 */
/* letter-spacing: 60px; */

/* 行高 */
/* line-height: 1.5; */
/* line-height: 150%; */

/* 自动断行 */
/* word-wrap:break-word; */

/* 文本首航缩进 */
/* text-indent: 50px;

    background: blue; */
/* p {
    
} */

/* a {
    text-decoration: none;
} */

/* ~~~~~~~~~~~~~~~~~~~~~盒子模型~~~~~~~两个width,以最下面的为主~~~~~~~~~~~~~~~~~~~ */
/* auto：浏览器自行处理溢出，如有，显示滚动条，没有，就不显示滚动条 */
/* hidden:溢出会自动裁掉 ，把溢出的元素裁掉*/
/* 不管是否有溢出都显示滚动框 scroll */
/* body {
        width:600px;
        border:1px solid  red;
    }  */
/* div {
        background: silver;
        width:50px;
        height: 50px;
        width: 60%;
        padding-top: 30px;
        padding：10px;
        overflow: auto;
        overflow:hidden;
        overflow:scroll;
    } */

/* ····················css盒子模型下 */
/* visibility:hidden:隐藏，但是保留空间 */
/* visibility:collapse;隐藏表格，不保留空间 */
/* div {
        background: silver;
        width: 200px;
        height: 200px;
        visibility: hidden;
        visibility:collapse;
    }
    table{
        background: skyblue;
    }

    table tr:first-child {
        visibility:hidden;
        visibility: collapse;

    } */


/* 块级元素有宽高 */
/* div {
       width:200px;
       height: 200px;
       background:silver;

    } */

/* 行内元素没有宽高，宽高自适应，不能隔离其他行内元素 */
/* span {
        /* width:200px;
        height: 200px;
        background:silver; 
    } */

/* 行内块级元素：可以设置宽高有块元素的特征，文本没有隔离，有行内元素的特征 */
/* img {
        width:200px;
        height: 200px;
        background:silver; 
    } */

/* display:inline ;块级元素转化成行内元素，宽高失效，背景保留 */
/* div {
        width:200px;
        height: 200px;
        background:silver;
        display: inline; 
     } */

/* display:block ;行内元素转化成块级元素 */
/* span {
    width: 200px;
    height: 200px;
    background:silver;
    display: block;
} */

/* display:inline-block 转化为行内块元素(内联块) */
/* div,span {
    width: 200px;
    height: 200px;
    background: silver;
    display: inline-block;
} */

/* display:none; 隐藏，不保留空间，其他内容占位 */
/* span {
    display: none;
} */



/* 元素的浮动 立体层次 */
/* a:float:left  向上浮动，a的位置空出来，b和c就占了位置 */
/* a:float:left, b:float:left 向上浮动，a和b到 了同一层，c就占了a的位置，文字没进去 */
/* clear 清除浮动 clear:left 不受上一个元素左浮动干扰 */
/* clear 清除浮动 clear:both 不受上一个元素任何浮动干扰 */
/* div {
    width: 200px;
    height: 200px;
} */
/* #a {
    float: left;
    background: slateblue;
}
#b {
    margin-left: 20px;
    float:left;
    background: rosybrown;
} 
 #c {
    float: left;
    background: springgreen;
}
#d {
    height: 300px;
    margin-left:20px;
    background: orange; 
    float:left;
} */

/* #a {
    float: right;
    background: slateblue;
  
}
#b {
    margin-left: 20px;
    background: rosybrown;
    clear:both;
}  */


/* ~~~~~~~~~~~~~~~~~~css边框和背景~~~~~~~~~~~~~~~~~~ */
/* thick:最粗 */
/* border-style:none; 边框消失,空间保留 */
/* border-style: none , solid dashed */
/* 圆角边框 css3 border-radius  要先设置边框*/
/* width: 200px;
    height: 200px; */
/* border-style: solid; */
/* border-color:red; */
/* border-width: thin; */
/* border-width:thick; */
/* border-width: 20px; */
/* border-style:none; */
/* border-style:dashed; */

/* border: 20px solid red; */
/* border-radius: 10px 30px 70px 50px; */
/* border-top-right-radius:50px; */

/* border-top: 10px solid red; */


/* background-image 背景图片默认是平铺，当图片小，就会重复 */
/* background-size: cover,放大 */
/* background-size:contain,缩小 */
/* div */
/* width: 500px;*/
/* height: 500px; */
/* background-color: silver; */
/* background-image: url(../img/行内块元素.png); */
/* background-repeat: no-repeat; */
/* background-position: right bottom; */
/* background-size: cover;  */
/* background-size:contain; */

/* body */
/* background-repeat: repeat-y; */
/* background-repeat: no-repeat; */
/* background-position: right; */
/* background-size: 100%; */
/* background-size:200px 300px; */

/* 滚动  attachment 默认scroll是背景文字一起滚动的*/
/* 内容滚动，背景不动 */
/* body {
    
    background-attachment: fixed;

} */

/* background-origin：border-box 图片会渗透 */
/* background-origin:padding-box 默认样式，不会渗透到边框 */
/* 设置背景的起始点 */
/* background-clip:padding-box 会把渗透到边框上的图裁剪掉 */
/* background-clip:content-box 会裁剪j */

/* width: 500px;
    height:500px; */
/* background-image: url(../image/行内块元素.png); */
/* border: 10px dashed red;  */
/* background-repeat: no-repeat; */
/* padding: 50px;  */
/* background-origin: border-box; */
/* background-origin:padding-box; */
/* background-origin:content-box; */
/* background-position: center; */

/* background-clip: padding-box; */
/* background-clip:content-box; */
/* background: silver url(../image/行内块元素.png) no-repeat top left / 100% border-box content-box ; */
/* div {
} */

/* 子元素继承父元素的透明效果 */
/* div b {
    background: skyblue;
} */

/* div b:first-child {
    background-color: transparent;
    
} */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~css表格与列表~~~~~~~~~~~~~~~~~~~~~~~~ */
/* 通用属性 */
/* border-collapse:separate; 默认值，是单元格独立 */
/* border-collapse:collapse 相邻单元格合并 */
/* caption-side:bottom ie浏览器不适应 */
/* :empty-cell:hide 就会隐藏 */
/* table-layout:fixed 自动换行，auto 是默认值，不会自动拉伸 */
/* border:1px solid red;外边框 */

table {
    width: 400px;
    height: 300px;
    text-align: center;
}


/* border-collapse: separate; */
/* border-collapse: collapse; */
/* border-spacing: 0px; */
/* caption-side: bottom; */
/* empty-cells: hide; */
/* table-layout: fixed; */
/* border:1px solid red; */
/* table tr th, table tr td {
    border:1px solid red;
} */


/* ~~~~~~~~~~~~~~~~~~列表~~~~~~~~~~~~~~~~~~~~ */
/* list-style-position:inside 点已经成为了文字的一部分 */
ul {
    /* width:120px; */
    /* list-style-type:square;
    list-style-position: inside;
    list-style-image:url(../image/行内块元素.png); */
    /* list-style: square inside url(../image/行内块元素.png); */
}
/* .sex {
    vertical-align: top;
}
b {
    vertical-align: super;
}

div {
    width: 200px;
    height: 200px;
    background: silver;
    text-align: center;
} */

/* vertical-align: -200px;上下的偏移量要用负值 */
/* div span {
    background: chartreuse;
    vertical-align: -50px;
} */


/* em {
vertical-align: 60px;
} */


/* ~~~~~~~~~~~~~~~css其他样式~~~~~~~~~~~~~~~~ */
/* box-shadow: 正值表示向右 */
 div {
     /* width: 200px;
     height: 200px; */
     /* background-color: cornflowerblue;
     color:red;
     opacity:0.5; */

     /* border:10px solid green;
     box-shadow: 15px 14px 10px 10px grey;
 } */