@charset "utf=8";

/* 多列布局 */
/* box-sizing: border-box; 不需要考虑是否增加边框和边距*/
/* -webkit-column-width: 100px;多列布局。如果没有设置列数，却设置了每列的宽度，就会自动设置列数。 */
div {
    /* -webkit-columns: auto 3; */
    /* -moz-columns: auto 3;
    columns: auto 3; */
    /* -webkit-columns: 300px 3; */
    /* 设置单列的宽度 */
    /* -webkit-column-width:100px;
    -moz-column-width:100px;
    column-width: 100px; */
    -webkit-column-width:100px;
    /* 设置列数 */
    -webkit-column-count: 5;

    /* 设置间距 */
    -webkit-column-gap: 40px;

    /* 设置分割线 */
    -webkit-column-rule: 3px dashed black;

   


}
h1 {
    text-align: center;
    -webkit-column-span:all;
}


