// 这个文件放的是首页的样式
// main start
.main {
  width: 980px;
  height: 456px;
  margin-left: 222px;
  margin-top: 10px;

  .focus {
    position: relative;
    width: 721px;
    height: 455px;
    background: purple;

    .arrow-l,
    .arrow-r {
      position: absolute;
      top: 50%;
      width: 24px;
      height: 40px;
      margin-top: -20px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      background: rgba(0, 0, 0, .2);
    }

    .arrow-r {
      right: 0;
    }

    .circle {
      position: absolute;
      bottom: 10px;
      left: 50px;

      li {
        float: left;
        width: 8px;
        height: 8px;
        margin: 0 3px;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 50%;
        // 鼠标经过显示小手
        cursor: pointer;
      }

      .current {
        background: #fff;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
      }
    }
  }

  .newsflash {
    width: 252px;
    height: 455px;

    .news {
      border: 1px solid #ccc;

      .news-hd {
        height: 32px;
        padding: 0 15px;
        line-height: 32px;
        font-size: 14px;
        // dotted 点线 dashed 虚线
        border-bottom: 1px dotted #ccc;
      }

      .news-bd {
        padding: 10px 0 0 15px;

        li {
          height: 23px;
        }
      }
    }

    .lifeservice {
      height: 210px;
      border: 1px solid #ccc;
      border-top: none;
      // 超出部分隐藏
      overflow: hidden;

      ul {
        width: 252px;

        li {
          float: left;
          width: 62px;
          height: 70px;
          text-align: center;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;

          a {
            display: block;
            padding-top: 10px;
          }

          i {
            color: #c81623;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    .bargain {
      height: 75px;
      margin-top: 5px;
    }
  }
}

// main end

// 推荐服务 start
.recommend {
  margin-top: 10px;
  height: 162px;

  .recom-hd {
    width: 200px;
    height: 162px;
    text-align: center;
    font-size: 18px;
    background: #5c5251;

    img {
      margin: 30px 0 15px 0;
    }

    h3 {
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }
  }

  .recom-bd {
    width: 1000px;
    height: 162px;
    background-color: #ebebeb;

    li {
      float: left;
      margin-top: 10px;
      width: 249px;
      height: 143px;
      border-right: 1px solid #ccc;
    }

    .last {
      border-right: none;
    }
  }
}

// 推荐服务 end

// 楼层区 start
.box-hd {
  margin-top: 30px;
  height: 27px;
  border-bottom: 2px solid #c81623;

  h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
  }

  .tab-list {
    float: right;

    li {
      float: left;
      line-height: 27px;

      a {
        margin: 0 15px;
      }
    }
  }
}

.box-bd {
  height: 360px;

  .w209 {
    width: 209px;
    background-color: #f9f9f9;
  }

  .w329 {
    width: 329px;
  }

  .w219 {
    width: 219px;
    border-right: 1px solid #ccc;
  }

  .w220 {
    width: 220px;
    border-right: 1px solid #ccc;
  }

  .tab-con {
    li {
      float: left;
      height: 360px;
      overflow: hidden;
    }

    .tab-con-list {
      li {
        width: 86px;
        height: 32px;
        margin-left: 10px;
        line-height: 32px;
        text-align: center;
        border-bottom: 1px solid #ccc;
      }
    }

    .tab-con-item {
      border-bottom: 1px solid #ccc;
    }
  }

  // 添加动画
  img {
    // 过渡写在本身上，谁做动画给谁加
    transition: all 0.2s;

    // 鼠标经过图片时 往右走8px
    &:hover {
      margin-left: 8px;
    }
  }
}

// 楼层区 end

// 电梯导航
.fixedtool {
  position: fixed;
  top: 214px;
  left: 50%;
  width: 66px;
  margin-left: -676px;
  background: #fff;

  li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  .current {
    color: #fff;
    background: #c81623;
  }
}