@charset "utf=8";


/* 针对IE10版本 的css3弹性伸缩布局的旧方法 */

/* ie10支持，带前缀-ms-flexbox */
/* -ms-flex-direction: column; 上上到下 */
/* -ms-flex-direction: column; 从下到上 */
/* -ms-flex-direction:row 从左到右 */
/* -ms-flex-wrap: wrap; 如果无法容纳就自动换行 默认不换行 */
/* -ms-flex-wrap: wrap-reverse; 如果无法容纳就自动换行 ，换行之后排列顺序会倒序 */
/* -ms-flex-flow:  row wrap; 是direction 和wrap 的集合方式 */
/* -ms-flex-pack:整体对齐方式 */
/* -ms-flex-align: 清除他的额外空间 */



p {
    width: 150px;
    border: 1px solid gray;
    background-color: silver;
    margin: 10px;
    padding: 10px;
}

div {
    width: 100%;
    background-color: tomato;
    /* display: -webkit-box;
    display: -moz-box; */
    display: -ms-flexbox;

    /* -ms-flex-direction: column; */
    /* -ms-flex-direction: column-reverse; */
    /* -ms-flex-direction: row; */
    /* -ms-flex-direction: row-reverse; */

    /* -ms-flex-wrap: wrap; */
    /* -ms-flex-wrap: wrap-reverse; */

    /* -ms-flex-flow: row wrap; */

    /* -ms-flex-align: center; */

    /* -ms-flex-pack: end; */

}

p:nth-child(1) {
    background-color: khaki;
    -ms-flex: 1;
    -ms-flex-order: 3;
}

p:nth-child(2) {
    background-color: khaki;
    -ms-flex: 3;
    -ms-flex-order: 2;
}

p:nth-child(3) {
    background-color: khaki;
    -ms-flex: 1;
    -ms-flex-order: 1;
}