@charset 'utf-8';

body,
ul,
h1,h2,p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

#header {
    background-color: #333;
    height: 70px;
    width: 100%;
    min-width: 1268px;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 9999;
}

#header .center {
    width: 1628px;
    height: 70px;
    margin: 0 auto;
    /* background-color: burlywood; */
}

#header .logo {
    width: 240px;
    height: 70px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    float: left;
}

#header .link {
    /* height:70px; */
    line-height: 70px;

    /* background-color: skyblue; */
    color: silver;
    float: right;
}

#header .none {
    display: none;
}

#header .link li {
    float: left;
    width: 120px;
    height: 70px;
    /* color: green; */
    text-align: center;
    /* background-color: red; */
}

/* 如果不给a转成块元素，a就没法扩大。 */
#header .link a {
    color: #ccc;
    /* background-color:lightcoral ; */
    display: block;
}

#header .link a:hover {
    color: #ccc;
    background-color: #000;

}

#header .active a {
    color: #ccc;
    background-color: #000;
}

/* banne部分 */
#search {
    width: 100%;
    min-width: 1268px;
    height: 600px;
    background: url(../img/search.jpg) no-repeat center;
    position: relative;

}

#search .center {
    width: 600px;
    height: 60px;
    background-color: black;
    /* border-radius: 10px; */
    opacity: 0.6;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -300px;
    position: absolute;
}

#search .search {
    width: 478px;
    height: 50px;
    /* background-color: black; */
    border: 1px solid #eee;
    /* border-radius: 10px; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -298px;
    color: #eee;
    font-size: 24px;
    padding: 0 10px;
    /* 消除谷歌浏览器点击时产生的边框 */
    outline: none;
}

#search .button {
    width: 90px;
    height: 50px;
    position: absolute;
    /* border-radius: 10px; */
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: 208px;
    font-size: 24px;
    background-color: #fff;
    cursor: pointer;
}
/* 热门旅游 */
#tour {
    width: 1263px;
    height: 600px;
    background-color: #eee;
    /* 盒子居中 */
    margin: 30px auto;
}
#tour .center {
    text-align: center;

}
#tour .center h2 {
    color: #666;
    font-size: 45px;
    /* padding: 10px 0; */
    margin: 10px 0 ;
    letter-spacing: 2px;
}
#tour .center p {
    color: #666;
    margin: 10px 0;
    
    
}