/* css初始化代码 css reset 清除默认样式 */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

body {
  /* height: 3000px; */
  background: #f3f5f7;
}

/* 内容容器 */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* 浮动功能 start */
.f-fl {
  float: left;
}

.f-fr {
  float: right;
}

.f-cb:after {
  content: "";
  display: block;
  clear: both;
}

.f-cb:before {
  content: "";
  display: block;
  clear: both;
}

/* 浮动功能 end */

/* header start */
.header {
  height: 42px;
  margin: 30px auto;
  /* background-color: pink; */
}

.logo {
  margin-right: 60px;
}

.nav ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  padding: 0 10px;
  font-size: 18px;
  color: #050505;
}

/* 鼠标经过才有边框 */
.nav ul li a:hover {
  border-bottom: 2px solid #00a3fa;
}

.search {
  margin-left: 70px;
}

.search input {
  width: 340px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #00a4ff;
  border-right: 0;
  color: #bfbfbf;
}

.search button {
  width: 50px;
  height: 42px;
  background: url(images/btn.jpg);
}

.user {
  height: 42px;
  line-height: 42px;
  margin-left: 30px;
  font-size: 14px;
  color: #666666;
}

.user img {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  vertical-align: middle;
  border-radius: 50%;
}

/* header end */
/* banner start */
.banner {
  width: 100%;
  height: 420px;
  background: #1c036c url(images/banner2.jpg) no-repeat top center;
}

.subnav {
  width: 150px;
  height: 420px;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
  /* margin-top: 30px; */
  height: 45px;
  line-height: 45px;
}

.subnav ul li a {
  font-size: 14px;
  color: #fff;
}

.subnav ul li a:hover {
  color: #00b4ff;
}

.subnav ul li a span {}

.course {
  width: 228px;
  height: 300px;
  margin-top: 50px;
  background-color: #fff;
}

.course-hd {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #9bceea;
  letter-spacing: 2px;
}

.course-bd {
  /* 没有宽度的盒子 paddding不会撑开 */
  padding: 0 15px;
}

.course-bd ul {
  /*外边距塌陷的问题
	margin-top: 10px;*/
  padding-top: 10px;
}

.course-bd ul li {
  height: 50px;
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.course-bd ul li h4 {
  font-size: 14px;
  font-weight: bold;
  color: #4e4e4e;
}

.course-bd ul li p {
  font-size: 12px;
  font-weight: bold;
  color: #a5a5a5;
}

.all {
  display: block;
  height: 38px;
  margin-top: 8px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  color: #00a4ff;
  border: 1px solid #00a4ff;
}

/* banner end */
/* tab-good start */
.tab-goods {
  height: 60px;
  margin-top: 10px;
  line-height: 60px;
  background: #fff;
  box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
}

.tab-goods h3 {
  margin: 0 30px;
  font-size: 16px;
  color: #00a4ff;
}

.tab-item {
  color: #bfbfbf;
}

.tab-item a {
  margin: 0 30px;
  color: #050505;
}

.mod {
  margin-right: 30px;
  font-size: 14px;
  color: #00a4ff;
}

/* tab-good end */
/* box start */
.box {
  margin-top: 15px;
}

.box-hd {
  height: 60px;
  line-height: 60px;
}

.box-hd h3 {
  font-size: 20px;
  font-weight: 400;
  color: #494949;
}

.box-hd a {
  margin-right: 30px;
  font-size: 12px;
  color: #a5a5a5;
}

.box-bd {
  /*这个盒子一定不要给高度 因为我们可能放一行 也可能是2行 或者n行*/
  /*box-bd 宽度 超过了 版心 1200 是可以的，就就解决了问题*/
  width: 1225px;
}

.box-bd ul li {
  float: left;
  width: 230px;
  height: 270px;
  margin: 0 15px 15px 0;
  background-color: #fff;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); */
  box-shadow: 0px 2px 5px 0px rgba(118, 118, 118, 0.5);
}

.box-bd ul li img {
  width: 100%;
}

.box-bd ul li h4 {
  margin: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #050505;
}

.box-bd ul li p {
  margin: 0 20px;
  font-size: 12px;
  color: #999;
}

.box-bd ul li p span {
  color: #ff7c2d;
}

/* box end */

/* footer start */
.footer {
  width: 100%;
  height: 420px;
  margin-top: 40px;
  padding-top: 30px;
  background: #fff;
}

.copyright p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}

.copyright .app {
  display: block;
  width: 120px;
  height: 36px;
  margin-top: 15px;
  line-height: 36px;
  text-align: center;
  color: #00a4ff;
  border: solid 1px #00a4ff;
}

.links dl {
  float: left;
  margin-left: 146px;
}

.links dt {
  height: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.links dd a {
  font-size: 12px;
  color: #333;
}

.links dd a:hover {
  color: #004aff;
}

/* footer end */


/* aside_fixed */
.aside_fixed {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -805px;
  width: 180px;
  height: 425px;
  background-color: #fff;
}

.aside_fixed ul {
  margin-top: 10px;
}

.aside_fixed li {
  height: 36px;
  line-height: 36px;
  text-align: center;
}

.aside_fixed li:hover {
  /* 鼠标移入样式 */
  cursor: pointer;
  color: #00a4ff;
}